.container {
  height: 100%;
  display: grid;
  grid-template-columns:
    [container-start]1fr [center-start] repeat(
      10,
      [col-start] minmax(min-content, 5.5rem) [col-end]
    )
    [center-end] 1fr [container-end];
  grid-template-rows: 5.5rem min-content;
  margin-top: 4rem;
}
.middle-container {
  grid-column: center-start / center-end;
  background-color: white;
  padding: 4.5rem 4rem;
}
